# Sanal Ortam (Virtual Environment)
venv/
/venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE ve Editör Dosyaları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# İşletim Sistemi dosyaları
.DS_Store
Thumbs.db

# Hassas bilgiler
.env